body {
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  background-color: green;
  justify-content: space-between;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  marker: none;
}

li {
  padding-left: 10px;
  padding-right: 10px;
}
