body {
  margin: 0;
}

.main-container {
  background-color: green;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
}

ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  marker: none;
}

li {
  padding-left: 10px;
  padding-right: 10px;
}

.carrinhoDeCompras {
  display: flex;
  flex-direction: row;
}

.li-carrinho {
  display: flex;
  flex-direction: column;
}